name: Deploy Prometheus and Grafana on GKE

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  CLUSTER_NAME: ${{ secrets.GKE_CLUSTER_NAME }}
  CLUSTER_ZONE: ${{ secrets.GKE_REGION }}
  NAMESPACE: monitoring

jobs:
  deploy:
    runs-on:   ubuntu-latest  #          self-hosted 

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Install GKE auth plugin
      run: |
         gcloud components install gke-gcloud-auth-plugin --quiet

    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials $CLUSTER_NAME \
          --zone $CLUSTER_ZONE \
          --project $PROJECT_ID

    - name: Install Helm
      uses: azure/setup-helm@v4

    - name: Add Helm repositories
      run: |
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
        helm repo add grafana https://grafana.github.io/helm-charts
        helm repo update

    - name: Create monitoring namespace
      run: |
        kubectl create namespace $NAMESPACE --dry-run=client -o yaml | kubectl apply -f -

    - name: Deploy Prometheus
      run: |
        helm upgrade --install prometheus prometheus-community/prometheus \
          -n $NAMESPACE \
          -f helm/values-prometheus.yaml

    - name: Deploy Grafana
      run: |
        helm upgrade --install grafana grafana/grafana \
          -n $NAMESPACE \
          -f helm/values-grafana.yaml

    - name: Verify Services
      run: |
        kubectl get pods -n $NAMESPACE
        kubectl get svc -n $NAMESPACE 
